<div class="homediv">
  <p class="hometext">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nulla exercitationem aspernatur quibusdam soluta fugit, placeat rem totam
    adipisci earum, cumque dolorum nemo minima quasi, dolor ratione. Quos laboriosam magnam modi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nulla exercitationem aspernatur quibusdam soluta fugit, placeat rem totam
    adipisci earum, cumque dolorum nemo minima quasi, dolor ratione. Quos laboriosam magnam modi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
</div>
